$white: #FFFFFF;
$yellow: #F6BD26;

// Primary Colors
$primary-100: #ff3721;
$primary-90: #de4c20;
$primary-80: #ca3c23;
$primary-70: #952f1b;
$primary-40: #5d1e0c;
$primary-20: #2e0707;
$primary-100-white-new: #fff6f8;
$primary-100-new: #f7eef0;
$primary-95-new: #e6dadd;
$primary-90-new: #f1e5e8;
$primary-80-new: #cfb7bd;
$primary-70-new: #aa989c;
$primary-40-new: #615255;
$primary-20-new: #362d2f;

// Secondary Colors
$secondary-100: #de1a31;
$secondary-20: #330727;

// Neutral Colors
$neutral-100: #fffafc;
$neutral-98-default: #f7f7f7;
$neutral-80-default: #c3c3c3;
$neutral-60-default: #9b9b9b;
$neutral-50-default: #848484;
$neutral-40-default: #646464;
$neutral-30-default: #4d4d4d;
$neutral-20-default: #323232;
$neutral-10-default: #1c1c1c;
$neutral-5-default: #0c0c0c;

// Error Colors
$error-100: #FF2134;
$neutral-98: #faf2f5;
$neutral-95: #f2e9ec;
$neutral-80: #ccc2c7;
$neutral-60: #999197;
$neutral-50: #80797c;
$neutral-40: #616366;
$neutral-30: #4d494b;
$neutral-20: #303133;
$neutral-10: #1a1819;
$neutral-5: #0d0c0c;
