.modelMenu {
    height: 100vh;
    width: 100%;
    z-index: 1001;
    visibility: hidden;

    &.active {
        visibility: visible;

        .modelMenuItemsHeader {
            width: 300px;
            opacity: 1;
            transform: translateX(0)
        }
    }

    .modelMenuItemsHeader {
        position: relative;
        z-index: 1003;
        background: white;
        height: 100vh;
        width: 0px;
        opacity: 0;
        transform: translateX(-100%);
        transition: 0.1s linear;

        .menuListCard {
            display: flex;
            align-items: center;
            margin-block-end: 20px;
    
    
            >svg {
                margin-right: 0.5rem;
            }
        }   
    }

}