# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore environment files
.env*

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore temporary files and directories
*.tmp
*.swp
*.swo
*~