[flake8]

#игнорируемые ошибки или же правила
#C101 это профила отвечает за комметриай в коде
#D403 это для строк документаций
#F403,F405 это общий правила flake8
#I100,I201 это правила для импорта
#W503,W504 это правила связонные с вводам они применяються когда перенос строки происходит при бинарным оператором и когда перенос строки происходит после бинарного оператора

ignore = A005,C101,D403,F403,F405,I100,I201,W503,W504
#тут мы игнорируем проверки для этих деректорий и файлов
exclude =
    .git,
    .mypy_cache,
    __pycache__,
    venv
# Анализировать все файлы с расширением .py (Python)
filename = *.py

# Устанавливает кодировку для файлов, которые должны быть проанализированы
accept-encodings = utf-8

# Предпочтительно использовать одинарные кавычки для строковых литералов в одной строке
inline-quotes = single

# Устанавливает максимальную сложность функций или методов
max-complexity = 12

# Задает максимальное количество строк в файле
max-linenumber = 500

# Определяет максимальную длину строки в символах
max-line-length = 119

# Предпочтительно использовать двойные кавычки для многострочных строковых литералов
multiline-quotes = double

# Игнорирует ошибку F821 (ссылка на неопределенное имя) для указанного файла
per-file-ignores =
    core/project/settings/templates/settings.dev.py:F821
