.cardBottomWrap {
    width: 100%;
    .cardBottom {
        font-size: 16px;
        padding-inline: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
}
