.modal {
    height: 100vh;
    width: 100%;
    z-index: 1001;

    .modalContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;

        .modalItem {
            position: relative;
            z-index: 1002;
        }
    }

}
