@use './styles/utils' as *;
@use './styles/color' as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {list-style: none;}

a,
img,
span,
input,
select,
button {display: block;}


a {
    color: inherit;
    text-decoration: none;
}

input,
button,
select {
    background: none;
    border: none;
    font: inherit;
}

button {cursor: pointer;}

input,
select {
    width: 100%;
    outline: none;
}

address {font-style: normal;}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

html {
  font-size: 18px;
}


body {
    font-family: var(--font-geist-sans), sans-serif;
    background: $white;
    scroll-behavior: smooth;
}
