@import '../../../../../app/styles/color';

.searchSystem {
    position: relative;
    display: flex;
    width: 450px;
    height: 40px;

    .searchField {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 2px solid $primary-80;;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0 90px 0 10px;
    }

    .buttonContainerSearch {
        position: absolute;
        z-index: 101;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);

        .buttonSearch {
            height: 30px;
            padding-inline: 25px;
        }
    }
}
