@use "../../../../../app/styles/color" as color;

.dropdownMenuItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-block: 10px;
    padding-inline: 10px;
    cursor: pointer;

    &:hover {
        background-color: color.$primary-90-new;
    }

    .icon {
        display: flex;
        align-items: center;
        svg {
            color: color.$primary-80;
        }
    }
}
