@import '../../../../../app/styles/color';

.menuButton {
    display: flex;
    gap: 12px;
    width: 100%;
    max-width: max-content;
    height: 40px;
    place-items: center;
    padding-inline: 40px;
    background-color: $primary-80;
    border-radius: 5px;
    cursor: pointer;
    

    svg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    color: white;


    &:hover {
        background-color: $primary-70;
    }
}

.modelMenu {
    height: 100vh;
    width: 100%;
    visibility: hidden;

    &.active {
        visibility: visible;

        .modelMenuItemsHeader {
            width: 300px;
            opacity: 1;
            transform: translateX(0)
        }
    }

    .modelMenuItemsHeader {
        position: relative;
        background: white;
        height: 100vh;
        width: 0px;
        z-index: 1003;
        opacity: 0;
        transform: translateX(-100%);
        transition: 0.1s linear;

        .menuListCard {
            display: flex;
            align-items: center;
            margin-block-end: 20px;
    
    
            >svg {
                margin-right: 0.5rem;
            }
        }   
    }

}